.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    position: absolute;
    width: 100%;
    border-radius: 10px;
}

.navbar a {
    font-family: monospace, "Andale Mono";
    font-size: 20px;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;/*Убрать подчеркивание под текстовой ссылкой*/
}

.navbar a:hover {
    background: #ddd; /*Изменить фон кнопки на белый*/
    color: black;/*изменить цвет текста на черный*/
    border-radius: 10px;
}   

.navbar input {
    color: white;
    float: right;
    border-radius: 5px;
    font-size: 15px;
    padding: 14px 16px;
}

.navbar select{
    border:none;
    top: -5px;
    padding: 10px 20px;
    border-radius:5px;
}