@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap');


body{
    background-color: #2C3E50;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Comfortaa", sans-serif;
}


button{
    border: none;
    border-radius: 20px;
    font-size: 25px;
    padding: 10px;
    margin: 10px;
    color: white;
    background: none;
    text-decoration: underline;
}