@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Comfortaa:wght@300..700&display=swap');



body{
    background-color: #2C3E50;
    font-family: "Balsamiq Sans", serif;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

input{
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    width: 200px;
    padding: 10px;
    font-size: 25px;
    font-family: "Balsamiq Sans", serif;

}

input::placeholder{
    font-size: 19px;
    padding: 5px;
}

.proto:hover {
    animation: glowing 1300ms infinite;
}

.proto{
    width: 90%;
    height: auto;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    background-color: white;
}

#controlP{
    display: flex;
    flex-direction: column; /* Элементы будут расположены вертикально */
    align-items: center;    /* Центрируем контент по горизонтали */
    text-decoration: none;
    color: black;
}


#goto{
    border: none;
    font-size: 30px;
    border-radius: 20px;
    background-color: #1faee9;
    color: white;
    padding: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}

#goto:hover{
    border-radius: 30px;
}

hr{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}


#controlP img{
    border-radius: 20px;
}


@keyframes glowing {
    0% {box-shadow: 0 0 5px white;}
    50% {box-shadow: 0 0 20px rgb(228, 228, 228);}
    100% { box-shadow: 0 0 5px rgb(235, 235, 235);}
}

#devOopStand{
    width: 90%;
    height: auto;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    background-color: white;
}

#devOopStand img{
    width: 150px;
    border-radius: 100px;
    margin-right: 50px;
    margin-left: 50px;
}

#RandomPro{
    width: 90%;
    height: auto;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    background-color: white;
}

#s1{
    background-color: rgb(54, 54, 54);
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
#s2{
    background-color: rgb(155, 155, 155);
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
#s3{
    background-color: rgb(155,155,155);
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

#imaga{
    display: flex;
    justify-content: center;
}




.item {
    padding: 10px;
    margin: 5px 0;
}
.hidden {
    display: none;
}


#Btop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #7331ff;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    display: none; /* Скрыта по умолчанию */
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 99;
}


#Btop.show {
    display: block;
    opacity: 1;
}